* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  width: 100%;
  overflow-x: hidden;
}

.image-container {
  width: 100vw !important;
  max-width: 100% !important;
  box-sizing: border-box;
}

.image-container .main-image {
  display: block !important;
  width: 100% !important;
  max-width: 100% !important;
  height: auto;
}

.rounded-image,
.image-container .main-image {
  border-radius: 15px;
}

.overlay-text {
  position: absolute;
  top: 650px;
  left: 50%;
  transform: translateX(-50%);
  font-size: 36px;
  color: white;
  font-family: cursive;
  user-select: none;
}

.image-container .main-image {
  flex: 1;
  width: 100%;
  height: auto;
}

.countdown-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: rgb(255, 255, 255);
  border-radius: 15px;
  padding: 2vw;
  width: 100vw !important;
  max-width: 100% !important;
  margin: 2vw auto;
  box-sizing: border-box;
}
.countdown,
.message {
  width: 100%;
  box-sizing: border-box;
}

.countdown {
  display: flex;
  width: 60%;
}

.time-box {
  width: 100px;
  height: 120px;
  align-self: center;
  background-color: black;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 0 8px;
  box-sizing: border-box;
  border-radius: 8px;
}

.number,
.time-label {
  margin-top: 8px;
}

.time-box span.number {
  font-size: 2em;
  margin-bottom: 8px;
}

.message {
  width: 40%;
  font-size: 48px;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}

.time-box-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex: 1;
  margin: 0 8px;
}

@media (max-width: 768px) {
  .overlay-text {
    font-size: 24px;
    top: 60%;
  }

  .countdown,
  .message {
    width: 100%;
  }

  .countdown-container,
  .image-container {
    flex-direction: column;
    align-items: center;
  }

  .time-box {
    width: 70px;
    height: 90px;
    margin: 0 8px;
  }

  .message {
    font-size: 28px;
    margin-top: 10px;
  }

  .countdown,
  .message {
    margin-bottom: 15px;
  }
}

@media (max-width: 480px) {
  .overlay-text {
    font-size: 20px;
    top: 55%;
  }

  .time-box {
    width: 50px;
    height: 60px;
    margin: 0 3px;
  }

  .message {
    font-size: 20px;
  }
}

@media (max-width: 600px) {
  .time-box {
    width: 60px;
    height: 72px;
    margin: 0 4px;
  }

  .message {
    font-size: 24px;
  }

  .video-link {
    flex-basis: 100%;
  }
}
