.navbar {
  background-color: black;
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: auto;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 999;
}

.navbar-left {
  display: flex;
  align-items: flex-end;
  padding: 0 24px;
}

.navbar-left a {
  display: flex;
  align-items: flex-end;
  text-decoration: none;
  color: white;
}

.navbar-right {
  display: flex;
  align-items: center;
  margin-right: 40px;
}

.navbar-right ul {
  display: flex;
  align-items: center;
  margin: 0;
}

.navbar-right ul li {
  padding: 0 24px;
}

#logoFull {
  height: 100px;
  width: auto;
}

#plusText {
  font-size: 75%;
  margin-left: 4px;
  margin-bottom: 35px;
}
.navbar-left a,
.navbar-right ul li {
  font-size: 16px;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: black;
  min-width: 200px;
  z-index: 1000;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  visibility: hidden;
  opacity: 0;
  transition: opacity 0.3s ease;
  border-radius: 10px;
}

.dropdown:hover .dropdown-content {
  display: block;
  visibility: visible;
  opacity: 1;
}

.dropdown-content li {
  padding: 20px 24px !important;
  margin: 8px 0 !important;
  text-decoration: none;
  display: block;
  color: white;
}

.dropdown-content li:hover {
  background-color: #575757;
}
.navbar-right ul li,
.navbar-left a,
.dropdown-content li {
  cursor: pointer;
}

.navbar-right ul li:hover,
.dropdown-content li:hover {
  text-shadow: 1px 1px 3px rgba(255, 255, 255, 0.3);
}
@media (max-width: 600px) {
  .video-link {
    flex-basis: 100%;
  }
}
.hamburger {
  display: none;
  flex-direction: column;
  justify-content: space-between;
  height: 24px;
  width: 30px;
  cursor: pointer;
}

.hamburger div {
  height: 4px;
  background: white;
  border-radius: 2px;
}

@media (max-width: 600px) {
  .navbar-right ul {
    display: none;
  }

  .hamburger {
    display: flex;
  }
}

@media (max-width: 600px) {
  .navbar-right {
    margin-right: 15px;
  }

  .navbar-right ul {
    flex-direction: column;
    position: absolute;
    top: 100%;
    right: 0;
    background-color: black;
    width: 200px;
    border-radius: 0 0 10px 10px;
  }

  .navbar-right ul li {
    padding: 10px 24px;
    margin-top: 8px;
  }

  .dropdown-content {
    position: static;
    box-shadow: none;
  }
}
