.sales-tools-container {
  padding: 2em;
  border-radius: 15px;
  max-width: 1200px;
  margin: auto;
}

.sales-tools-container h2 {
  font-size: 2em;
  margin-bottom: 1em;
  text-align: center;
}

.video-grid {
  display: flex;
  flex-wrap: wrap;
  gap: 1em;
  justify-content: space-between;
}

.video-link {
  position: relative;
  max-width: 550px;
  width: 48%;
  margin-bottom: 1em;
  overflow: hidden;
}

.video-link:hover .video-description {
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
}

.video-link img {
  width: 100%;
  height: auto;
  border-radius: 10px;
}

.video-description {
  position: absolute;
  bottom: 10%;
  left: 0;
  right: 0;
  height: 20%;
  background: rgba(4, 4, 4, 0.5);
  color: white;
  padding: 10px;
  font-size: 0.8em;
  border-radius: 0 0 10px 10px;
  text-align: center;
  line-height: 1.2em;
  display: flex;
  justify-content: center;
  align-items: center;
}

@media (max-width: 768px) {
  .video-link {
    width: 100%;
  }

  .sales-tools-container h2 {
    font-size: 1.6em;
    margin-bottom: 0.8em;
  }

  .video-description {
    font-size: 0.7em;
  }
}

@media (max-width: 600px) {
  .video-link {
    flex-basis: 100%;
  }
}
